<div class="body-content">

    <h3>Tạo sản phẩm</h3>
    <div class="container mt-5">
        <form action="/admin/create" method="POST" enctype="multipart/form-data">
            <div class="row">
                {{!-- Upload img --}}
                <div class="col-3">
                    <div class="form-group">

                        <div class="avatar-upload">
                            <div class="title text-center">Image</div>
                            <div class="avatar-edit">
                                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" name="image" />
                                <label for="imageUpload"><i class="fas fa-pencil-alt"></i></label>
                            </div>
                            <div class="avatar-preview">
                                <div id="imagePreview" style="background-image: url(http://i.pravatar.cc/500?img=7);">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {{!-- info product --}}
                <div class="col-9">
                    <div class="form-content">
                        <div class="sections">
                            <div class="section-title">
                                <h4 class="text">Thông tin cơ bản</h4>
                                <hr>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="name">Name</label>
                                            <input type="text" class="form-control" id="name" placeholder="name"
                                                name="name" />
                                        </div>
                                        <div class="form-group">
                                            <label for="price">Price</label>
                                            <input type="text" class="form-control" id="price" placeholder="price"
                                                name="price" />
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="name">Category</label>
                                            <select class="form-control select2-multiple-category" name="category">
                                                <option data-value="0" class="tab-item active" value='clothes'>Clothes</option>
                                                <option data-value="1" class="tab-item" value='shoes'>Shoes</option>
                                                <option data-value="2" class="tab-item" value='bag'>Bags</option>
                                                <option data-value="3" class="tab-item" value='watches'>Watches</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="price">Gender</label>
                                            <select class="form-control select2-multiple-gender" name="gender"
                                                multiple="multiple">
                                                <option value='male'>Male</option>
                                                <option value='female'>Female</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="sections">
                            <div class="section-title">
                                <h4 class="text">Thông tin chi tiết</h4>
                                <hr>
                                <div class="row">
                                    <div class="col-6">
                                        <div class="">{{!-- tab-content --}}
                                            <div class="tab-pane active">
                                                <div class="form-group">
                                                    <label for="size">Size Clothes</label>
                                                    <select class="form-control select2-multiple-size" name="size" multiple="multiple">
                                                        <option value='X'>X</option>
                                                        <option value='XL'>XL</option>
                                                        <option value='M'>M</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="tab-pane">
                                                <div class="form-group">
                                                    <label for="size">Size Shoes</label>
                                                    <select class="form-control select2-multiple-size" name="size" multiple="multiple">
                                                        <option value='40'>40</option>
                                                        <option value='41'>41</option>
                                                        <option value='42'>42</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="tab-pane">
                                                <div class="form-group">
                                                    <label for="size">Size Bag</label>
                                                    <select class="form-control select2-multiple-size" name="size" multiple="multiple">
                                                        <option value='X'>X</option>
                                                        <option value='XL'>XL</option>
                                                        <option value='M'>M</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="tab-pane">
                                                <div class="form-group">
                                                    <label for="size">Size Watches</label>
                                                    <select class="form-control select2-multiple-size" name="size" multiple="multiple">
                                                        <option value='X'>X</option>
                                                        <option value='XL'>XL</option>
                                                        <option value='Regular'>Regular</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="color">Color</label>
                                                    <select class="form-control select2-multiple-color" name="color" multiple="multiple">
                                                        <option value='black'>Black</option>
                                                        <option value='blue'>Blue</option>
                                                        <option value='red'>Red</option>
                                                        <option value='green'>Green</option>
                                                        <option value='white'>White</option>
                                                    </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <textarea type="text" class="form-control" id="description"
                                        placeholder="description" name="description"></textarea>
                                </div>
                            </div>
                        </div>
                        <button type="submit" id="create-submit" class="btn btn-primary">Submit</button>

                    </div>
                </div>
            </div>

        </form>

    </div>


    {{!Header form}}
    {{!-- <div class="col-3 pt-100">
        <!-- Tab items -->
        <h3 class="text-center mb-4">Category</h3>
        <div class="tabs flex-column">
            <div class="tab-item active" value="clothes">
                Clothes
            </div>
            <div class="tab-item" value="shoes">
                Shoes
            </div>

            <div class="tab-item" value="bag">
                Bag
            </div>
            <div class="tab-item" value="watches">
                Watches
            </div>
            <div class="line"></div>
        </div>

    </div> --}}
    {{!Header }}
    {{!-- <div class="col-9">
        <div class="mb-4">
            <h3>Tạo sản phẩm</h3>
        </div> --}}
        {{!-- <form action="/admin/create" method="POST" enctype="multipart/form-data"> --}}
            {{!category}}
            {{!-- <div class="form-group d-none">
                <label for="category">Category</label>
                <input type="text" class="form-control" id="category" placeholder="category" name="category" />
                <input type="checkbox" class="genderCategory" name="category" value="Male">
                <input type="checkbox" class="genderCategory" name="category" value="Female">
            </div> --}}
            {{!Name}}
            {{!-- <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="name" name="name" />
            </div>
            <div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" id="price" placeholder="price" name="price" />
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea type="text" class="form-control" id="description" placeholder="description"
                    name="description"></textarea>
            </div>

            <div class="form-group">
                <div for="">Gender</div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="gender" value="Male" />
                    <label class="form-check-label">Nam</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="gender" value="Female" />
                    <label class="form-check-label">Nữ</label>
                </div>
            </div>
            <div class="tab-content">
                <div class="tab-pane active">
                    <div class="form-group">
                        <div for="">Size clothes</div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="sizeclothes" value="X" />
                            <label class="form-check-label">X</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="sizeclothes" value="XL" />
                            <label class="form-check-label">XL</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="sizeclothes" value="M" />
                            <label class="form-check-label">M</label>
                        </div>
                    </div>
                </div>

                <div class="tab-pane">
                    <div class="form-group">
                        <div for="">Size shoes</div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="sizeshoes" value="40" />
                            <label class="form-check-label">40</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="sizeshoes" value="41" />
                            <label class="form-check-label">41</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="sizeshoes" value="42" />
                            <label class="form-check-label">42</label>
                        </div>
                    </div>
                </div>
                <div class="tab-pane">
                    <div class="form-group">
                        <div for="">Size bag</div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="sizebag" value="X" />
                            <label class="form-check-label">X</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="sizebag" value="XL" />
                            <label class="form-check-label">XL</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="sizebag" value="M" />
                            <label class="form-check-label">M</label>
                        </div>
                    </div>
                </div>
                <div class="tab-pane">
                    <div class="form-group">
                        <div for="">Size watches</div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="sizewatches" value="X" />
                            <label class="form-check-label">X</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="sizewatches" value="XL" />
                            <label class="form-check-label">XL</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="checkbox" name="sizewatches" value="M" />
                            <label class="form-check-label">Regular</label>
                        </div>
                    </div>
                </div>
            </div> --}}

            {{!-- <div class="form-group">
                <div for="" class=>Color</div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="color" value="black" />
                    <label class="form-check-label">black</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="color" value="blue" />
                    <label class="form-check-label">blue</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="color" value="red" />
                    <label class="form-check-label">red</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="color" value="green" />
                    <label class="form-check-label">green</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="color" value="white" />
                    <label class="form-check-label">white</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" name="color" value="grey" />
                    <label class="form-check-label">grey</label>
                </div>
            </div>

            <div class="form-group">
                <label for="exampleFormControlFile1">file Image</label>
                <div class="avatar-upload">
                    <div class="avatar-edit">
                        <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                        <label for="imageUpload"></label>
                    </div>
                    <div class="avatar-preview">
                        <div id="imagePreview" style="background-image: url(http://i.pravatar.cc/500?img=7);">
                        </div>
                    </div>
                </div>
            </div> --}}
            {{!-- <button type="submit" class="btn btn-primary">Submit</button>
        </form> --}}
        {{!--
    </div> --}}

</div>
{{!--
<script type="text/javascript">
    const $ = document.querySelector.bind(document);
    const $$ = document.querySelectorAll.bind(document);
    const tabs = $$(".tab-item");
    const panes = $$(".tab-pane");
    const tabActive = $(".tab-item.active");
    const categoryInput = $("#category")
    var v = ['Male', 'Female']
    const genderCategory = $$('.genderCategory');
    genderCategory.forEach(function (gender) {

    })
    categoryInput.setAttribute('value', v)
    tabs.forEach((tab, index) => {
        genderCategory.forEach(function (gender) {
            gender.setAttribute('checked', 'checked')
        })
        const pane = panes[index];
        tab.onclick = function () {
            categoryInput.setAttribute('value', '')
            const tabCategory = tab.getAttribute('value')
            const gender = tab.getAttribute('value')
            categoryInput.setAttribute('value', tabCategory)
            console.log(tabCategory)
            $(".tab-item.active").classList.remove("active");
            $(".tab-pane.active").classList.remove("active");
            //$(".tab-pane.active~[type='checkbox']").checked = false;
            console.log(categoryInput)

            this.classList.add("active"); pane.classList.add("active");
            if (tab.getAttribute('value') === 'clothes') {

                genderCategory.forEach(function (gender) {
                    gender.setAttribute('checked', true)
                    gender.removeAttribute('disable')
                    console.log(gender)
                })
                console.log(categoryInput)
            } else {
                genderCategory.forEach(function (gender) {
                    gender.removeAttribute('checked')
                    gender.setAttribute('disable', 'disable')
                    console.log(gender)
                })
            }
        };
        categoryInput.setAttribute('value', '')
    });
</script> --}}
</div>

<div class="pb-150">

</div>